static/admin
.vscode
accounts/__pycache__
accounts/migrations/__pycache__
doctors/__pycache__
doctors/migrations/__pycache__
hospitals/__pycache__
hospitals/migrations/__pycache__
mainpage/__pycache__
mainpage/migrations/__pycache__