@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

body {
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  animation-name: example;
  animation-duration: 3s;
}
@keyframes example {
  from { opacity: 0.2;}
  to { opacity: 1;}
}

html{
    -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
}




  /*Header*/
  header {
    background: #ffffff;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    height: 45px;
  }

  header .col-md-8 {
    padding-right: 0;
    float: right;
  }
  
 
  header p{
    font-size: 12px;
    line-height: 24px;
    padding-top: 12.7px;
    
  }
  header span {
    font-size: 12px;
    line-height: 24px;
    padding-top: 12px;
  }

  header a,
  header span {
    color: #777373;
  }
  header  a:hover{
    text-decoration: none;
    color: rgb(130, 180, 12);
}

.stories-info a:hover{
  text-decoration: none;
  color: rgb(81, 143, 224);
}
.contact-info a:hover{
  text-decoration: none;
  color: rgb(81, 143, 224);
}
  header span {
    font-weight: 500;
    display: inline-block;
    padding: 11px 15px;
  }

 

  header span i {
    color: #22b9c4;
    margin-right: 5px;
  }

  header span.phone-icon {
    border-left: 0px;
    border-right: 1px solid #f2f2f2;
    padding-right: 15px;
    padding-left: 3px;
  }
  
 

 /*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
  }

  .spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 1px solid #575757;
    border-top-color: #ffffff;
    animation: spinner .9s linear infinite;
  }

  @-webkit-keyframes spinner {
    to {transform: rotate(360deg);}
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }

  

  /*footer*/

  footer {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  footer h4 {
    padding-bottom: 5px;
  }

  footer a {
    color: #757575;
  }

  footer a:hover {
    color: #4267b2;
  }

  .contact-info {
    padding-top: 10px;
  }

  .contact-info .fa {
    background: #393939;
    border-radius: 100%;
    color: #ffffff;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 2px;
  }

  .latest-stories {
    margin-bottom: 20px;
  }

  .stories-image,
  .stories-info {
    display: inline-block;
    vertical-align: top;
  }

  .stories-image img {
    border-radius: 100%;
    width: 65px;
    height: 65px;
  }

  .stories-info {
    margin-left: 15px;
  }

  .stories-info h5 {
    margin-bottom: 2px;
  }

  .stories-info span {
    color: #858585;
    font-size: 12px;
  }

  .opening-hours p {
    line-height: 18px;
  }

  .opening-hours span {
    font-weight: 500;
    display: inline-block;
    padding-left: 10px;
  }

  .copyright-text p,
  .footer-link a {
    color: #858585;
    font-size: 12px;
    font-weight: 500;
  }

  .footer-link a {
    font-size: 12px;
    display: inline-block;
    padding: 0 10px;
    margin-top: 4px;
  }

  

  

  /* Social Icon*/

  .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
  }

  .social-icon li a {
    border-radius: 100px;
    color: #464646;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
  }

  .social-icon li a:hover {
    background: #4267b2;
    color: #ffffff;
  }

.sec{
    margin-top:40px;
    
}
  .hader{
      
      width: 100%;
      background-image: linear-gradient(to right, rgb(219, 235, 243) , #00eeff);
      padding:13px;
     
      margin-bottom: 10px;
      border-radius: 5px;


  }
  .hader p{
    text-align: center;


}

.checked {
    color: orange;
  }
  .doctor-detail h3{
   
      padding-bottom: 20px;
  }
  .row{
      margin-bottom: 40px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  /*Responsive Styles*/

  

  
  /*@media only screen and (max-width:768px){
    header .col-md-8{
      
      top: 10px;
    }
  }*/
  .phone-logo{
    display:none;
}

.line{
    display:none;
}

.btn-grey{
    background-color:#D8D8D8;
	color:#FFF;
}
.rating-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius:3px;
}
.bold{
	font-weight:700;
}
.padding-bottom-7{
	padding-bottom:7px;
}

.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}
.review-block-name{
	font-size:12px;
	margin:10px 0;
}
.review-block-date{
	font-size:12px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:13px;
}
    
.backimg img{ 
  height:600px;
    
 }

 .center {
  position: absolute;
  top: 100px;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.col-md-3 {
  background-color: rgb(255, 252, 251);
  margin: 20px 40px ;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 7px 7px 7px 7px ;
}
.col-md-3 i{
  font-size:4em;
  color: #10cbe4;
  border-radius: 50px;
}
.box{
  margin-top :10px;
}

.doctor-message {
  margin-top: 50px;
  background-image: url("../images/slider_2.jpg");
  background-attachment: fixed;
  background-size: cover; }
  .doctor-message .inner-lay {
    background-color:  #10cbe4;
    padding: 50px;
    padding-bottom: 0px;
    color: #FFF; }

    .doctor-message .doc-img {
      text-align: center; }
      .doctor-message .doc-img img {
        width: 400px;
        margin-top: -140px; }
    .doctor-message .doc-det h2 {
      font-size: 42px;
      margin-bottom: 0px; }
    .doctor-message .doc-det span {
      font-weight: 600;
      margin-top: -5px; }
    .doctor-message .doc-det p {
      margin-top: 30px;
      font-size: 18px;
      text-indent: 20px; }
    .doctor-message .doc-det h4 {
      margin-top: 30px; }

/* Type-1 */

  .carousel-inner .active.left {
    left: -25%;
  }
  .carousel-inner .next {
    left:  25%;
  }
  .carousel-inner .prev {
    left: -25%;
  }
  .carousel-control {
    width:  4%;
  }
  .carousel-control.left, .carousel-control.right {
    margin-left:15px;
    background-image:none;
  }

  .multi{
    margin-top:100px;
  }

  .top-left {
    position: absolute;
    top: 200px;
    left: 40px;
  }
  


      

  @media only screen and (max-width: 1200px) {
    
    h1 {
      font-size: 4em;
    }
    h2 {
      font-size: 2.5em;
    }
    h3 {
      font-size: 1.5em;
    }

    header {
      height: inherit;
    }
    header span.date-icon {
      border: 0;
      padding-right: 0;
      padding-left: 0;
    }
    header span.email-icon {
      padding-top: 0;
    }

    
 }

 @media only screen and (max-width: 992px) {
    .slider .item {
      background-position: center;
    }
    .doctor-message .inner-lay {
      padding: 30px 10px; } 
    
    header {
      
      padding-bottom: 10px;
      
    }
    header .text-align-right {
      text-align: left;
    }
    header span {
      padding-top: 0;
      padding-left: 0;
      padding-bottom: 0;
      margin-top: 13px;
     
    }

    header span.phone-icon {
      border-left:0px;
      padding-right: 1.2em;
      padding-left: 2px;

    }

    header span.email-icon {
      padding-left: 1.2em;
    }
    .doctor img{
      height:50px;
      width: 100%;
      
    }
  }
  

  @media only screen and (max-width: 767px) {
    
    .doc-img img{
      height: 400px;
      width: 200px;
    }
    h1{
      font-size: 2em;
    }
    p.back{
      display:block;
    }
    .top-left {
      position: absolute;
      top: 200px;
      left: 16px;
    }
    h2{
      font-size: 1em;
    }
    .sec{
        margin-top:50px;
    }
    .phone-logo{
        display:block;
        margin-left: 30%;
    }
     .new{
      display: none;

    }
    .line{
        display:block;
    }
    
    
    .doctor img{
        border-radius: 50%;
    }
    
    header span.phone-icon {
      border-left:0px;
      padding-right: 1.2em;
      
    }

    header span.email-icon {
      padding-left: 1.2em;
      
    }

    header p{
      text-align:center;
    }
    

    footer {
      padding-top: 60px;
      padding-bottom: 0;
    }
    .footer-thumb {
      padding-bottom: 10px;
    }

    .border-top {
      text-align: center;
    }

    .copyright-text {
      margin-top: 10px;
    }

    .angle-up-btn {
      bottom: 10em;
    }
        
.backimg img{ 
  height:200px;
    
 }
  }

  @media only screen and (max-width:356px){
    .phone-logo{
        display:block;
        margin-left: 30%;
    }

   p.back{
      display:block;
    }
    .line{
        display:block;
    }
    header span.phone-icon {
      border-left: 0px;
      /*border-right:0px;*/
      padding-right: 1em;
      padding-left: 2px;
    }
    header span.email-icon{
      padding-left:3px;
    }

    header p{
      text-align:center;
    }
      
.backimg img{ 
  height:200px;
    
 }
    
  }
  @media only screen and (max-width:344px){
    .phone-logo{
        display:block;
    }
    p.back{
      display:block;
    }
    .line{
        display:block;
    }
    header span.phone-icon {
      border-right: 0px;
      padding-right:1.5em;
    }
        
.backimg img{ 
  height:200px;
    
 }
    
    
  }


  

